body{
    margin: 0px;
    text-align:center;
    font-family: "Merriweather", sans-serif;
}
h1{

    font-family: 'Sacramento',cursive;
    font-size: 3.125rem;
    margin: 50px auto 0px auto;
    color: #66BFBF;
    line-height: 2;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    color: #66BFBF;
    font-weight: normal;
}
h3{
    color: #2a9d8f;
    font-family: 'Montserrat', sans-serif;
}
.top{
    background-color: #e0ebe8;
    position:relative;
    padding-top: 60px;
}
p{
    margin-bottom: 50px;
}
.bottom-cloud{
    position:absolute;

}
.top-cloud{
    position:absolute;
    right:300px;
    top:25px;
}
.skills-img{
    width: 25%;
    border-radius: 100%;
    float: left;
    margin-right: 30px;
    
}
.dp{
    height: 100px;
    width: 100px;
    border-radius: 100%;
}
.skill-row{
    width: 50%;
    margin: 100px auto;
    text-align: left;
    line-height: 2;
}
hr{
        border: 5px dotted grey;
        border-style: none none dotted; 
        color: grey; 
        background-color: #fff;
        width:10%;
}
button{
    color:#fff;
    background-color: #66BFBF;
    border-color:#66bfbf ;
    border-width: 1px;
    border-radius: 5px;
    size: 10px 20px;
    padding: 8px;
}
.bottom-container{
    background-color: #66BFBF;
    margin-top: 30px;
    position: relative;
}
.courtesy{
    margin-bottom: 0px;
}
.footer-link{
    color: #11999e;
    text-decoration: none;

}